## 10장 일시형
수치와 범주 다음으로 자주 다루는 데이터는 일시형 입니다.

# 일시형과 날짜형으로 변환
일시형은 Timestamp와 DateTime 같은 자료형이 있습니다. 일시형이라면 문제없지만, 문자열이나 unixtime 같은 수치는 일시형으로 변환해야 합니다. 일시형 외 시간을 나타내는 대표적인 자료형은 날짜형 입니다.

In [46]:
import pandas as pd
import datetime as dt
import time
reserve_tb = pd.read_csv('reserve.csv')
reserve_tb

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200
1,r2,h_219,c_1,2016-07-16 23:39:55,2016-07-20,11:30:00,2016-07-21,2,20600
2,r3,h_179,c_1,2016-09-24 10:03:17,2016-10-19,09:00:00,2016-10-22,2,33600
3,r4,h_214,c_1,2017-03-08 03:20:10,2017-03-29,11:00:00,2017-03-30,4,194400
4,r5,h_16,c_1,2017-09-05 19:50:37,2017-09-22,10:30:00,2017-09-23,3,68100
...,...,...,...,...,...,...,...,...,...
4025,r4026,h_129,c_999,2017-06-27 23:00:02,2017-07-10,09:30:00,2017-07-11,2,16000
4026,r4027,h_97,c_999,2017-09-29 05:24:57,2017-10-09,10:30:00,2017-10-10,2,41800
4027,r4028,h_27,c_999,2018-03-14 05:01:45,2018-04-02,11:30:00,2018-04-04,2,74800
4028,r4029,h_48,c_1000,2016-04-16 15:20:17,2016-05-10,09:30:00,2016-05-13,4,540000
4029,r4030,h_117,c_1000,2016-06-06 08:16:51,2016-07-06,09:00:00,2016-07-09,1,44100

In [47]:
pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'], format='%Y-%m-%d%H:%M:%S')

0      2016-03-26 10:00:00
1      2016-07-20 11:30:00
2      2016-10-19 09:00:00
3      2017-03-29 11:00:00
4      2017-09-22 10:30:00
               ...
4025   2017-07-10 09:30:00
4026   2017-10-09 10:30:00
4027   2018-04-02 11:30:00
4028   2016-05-10 09:30:00
4029   2016-07-06 09:00:00
Length: 4030, dtype: datetime64[ns]

pandas의 to_datetime 함수를 통해 문자열로 되어있는 날짜를 datetime 형태의 자료형으로 바꾸어줍니다.

그 다음 문자열끼리의 연산을 진행한 뒤, to_datetime 함수를 통해 datetime 형태의 자료로 바꾸어줍니다.

In [48]:
import datetime as dt
pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S').dt.date
pd.to_datetime(reserve_tb['checkin_date'], format='%Y-%m-%d').dt.date

0       2016-03-26
1       2016-07-20
2       2016-10-19
3       2017-03-29
4       2017-09-22
           ...
4025    2017-07-10
4026    2017-10-09
4027    2018-04-02
4028    2016-05-10
4029    2016-07-06
Name: checkin_date, Length: 4030, dtype: object

datetime.date 함수를 통해 일시 정보에서 날짜 정보를 얻어낼 수 있습니다.

# 연, 월, 일, 시각, 분, 초, 요일로 변환

In [49]:
reserve_tb['reserve_datetime'] = pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_datetime']

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [50]:
reserve_tb['reserve_datetime'].dt.year
# 연도에 관한 정보

0       2016
1       2016
2       2016
3       2017
4       2017
        ...
4025    2017
4026    2017
4027    2018
4028    2016
4029    2016
Name: reserve_datetime, Length: 4030, dtype: int64

In [51]:
reserve_tb['reserve_datetime'].dt.month
# 월에 관한 정보

0       3
1       7
2       9
3       3
4       9
       ..
4025    6
4026    9
4027    3
4028    4
4029    6
Name: reserve_datetime, Length: 4030, dtype: int64

In [52]:
reserve_tb['reserve_datetime'].dt.day
# 일에 관한 정보

0        6
1       16
2       24
3        8
4        5
        ..
4025    27
4026    29
4027    14
4028    16
4029     6
Name: reserve_datetime, Length: 4030, dtype: int64

In [53]:
reserve_tb['reserve_datetime'].dt.dayofweek
# 요일에 대한 정보를 수치로 얻기. 0 = 일요일, 1 = 월요일,...

0       6
1       5
2       5
3       2
4       1
       ..
4025    1
4026    4
4027    2
4028    5
4029    0
Name: reserve_datetime, Length: 4030, dtype: int64

In [54]:
reserve_tb['reserve_datetime'].dt.hour
# 시간에 대한 정보 얻기(7시, 8시, ...)

0       13
1       23
2       10
3        3
4       19
        ..
4025    23
4026     5
4027     5
4028    15
4029     8
Name: reserve_datetime, Length: 4030, dtype: int64

In [55]:
reserve_tb['reserve_datetime'].dt.minute
# 분에 대한 정보 얻기

0        9
1       39
2        3
3       20
4       50
        ..
4025     0
4026    24
4027     1
4028    20
4029    16
Name: reserve_datetime, Length: 4030, dtype: int64

In [56]:
reserve_tb['reserve_datetime'].dt.second
# 초에 대한 정보 얻기

0       42
1       55
2       17
3       10
4       37
        ..
4025     2
4026    57
4027    45
4028    17
4029    51
Name: reserve_datetime, Length: 4030, dtype: int64

In [57]:
reserve_tb['reserve_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

0       2016-03-06 13:09:42
1       2016-07-16 23:39:55
2       2016-09-24 10:03:17
3       2017-03-08 03:20:10
4       2017-09-05 19:50:37
               ...
4025    2017-06-27 23:00:02
4026    2017-09-29 05:24:57
4027    2018-03-14 05:01:45
4028    2016-04-16 15:20:17
4029    2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: object

정리를 하자면, 그냥 to_datetime()만 써서 일자에 대한 정보로 바꾼 뒤, 다시 문자열로 전환할때는

strftime('형식')으로 문자열로 바꾸어 주면 됩니다.

# 일시의 차이로 변환
일시의 차이를 구해야 하는 경우는 많습니다.

그러나 차이의 정의를 분명하게 해야 합니다.

예를들어 12:45:59 와 12:46:00 차이를 분 단위로 생각할때,

초단위를 버리고 1분으로 할지, 초단위를 고려하여 소수점 단위의 분으로 만들지에 따라 다릅니다.

In [58]:
reserve_tb['reserve_datetime'] = pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

In [59]:
reserve_tb['checkin_datetime'] = pd.to_datetime(reserve_tb['checkin_date'] + reserve_tb['checkin_time'],
                                           format='%Y-%m-%d%H:%M:%S')
reserve_tb['checkin_date']

0       2016-03-26
1       2016-07-20
2       2016-10-19
3       2017-03-29
4       2017-09-22
           ...
4025    2017-07-10
4026    2017-10-09
4027    2018-04-02
4028    2016-05-10
4029    2016-07-06
Name: checkin_date, Length: 4030, dtype: object

문자열끼리 더해서 날짜를 변환할때는 format을 지정할때 %d와 %H가 붙여있는 상태여야 합니다.

바로 위에 코드랑 비교하면 될 듯합니다.

In [60]:
reserve_tb['reserve_datetime'].dt.year - reserve_tb['checkin_datetime'].dt.year

0       0
1       0
2       0
3       0
4       0
       ..
4025    0
4026    0
4027    0
4028    0
4029    0
Length: 4030, dtype: int64

날짜별 계산을 할때, datetime 형태의 자료형으로 변환뒤, 정보를 뽑아내어 연산을 합니다.

In [61]:
(reserve_tb['reserve_datetime'].dt.year * 12 + reserve_tb['reserve_datetime'].dt.month) -\
(reserve_tb['checkin_datetime'].dt.year * 12 + reserve_tb['reserve_datetime'].dt.month)

0       0
1       0
2       0
3       0
4       0
       ..
4025    0
4026    0
4027    0
4028    0
4029    0
Length: 4030, dtype: int64

In [62]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime'])

0      -20 days +03:09:42
1       -4 days +12:09:55
2      -25 days +01:03:17
3      -22 days +16:20:10
4      -17 days +09:20:37
              ...
4025   -13 days +13:30:02
4026   -11 days +18:54:57
4027   -20 days +17:31:45
4028   -24 days +05:50:17
4029   -31 days +23:16:51
Length: 4030, dtype: timedelta64[ns]

In [64]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[D]')

0      -20.0
1       -4.0
2      -25.0
3      -22.0
4      -17.0
        ...
4025   -13.0
4026   -11.0
4027   -20.0
4028   -24.0
4029   -31.0
Length: 4030, dtype: float64

In [65]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[h]')

0      -477.0
1       -84.0
2      -599.0
3      -512.0
4      -399.0
        ...
4025   -299.0
4026   -246.0
4027   -463.0
4028   -571.0
4029   -721.0
Length: 4030, dtype: float64

In [66]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[m]')

0      -28611.0
1       -5031.0
2      -35937.0
3      -30700.0
4      -23920.0
         ...
4025   -17910.0
4026   -14706.0
4027   -27749.0
4028   -34210.0
4029   -43244.0
Length: 4030, dtype: float64

In [67]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']).astype('timedelta64[s]')

0      -1716618.0
1       -301805.0
2      -2156203.0
3      -1841990.0
4      -1435163.0
          ...
4025   -1074598.0
4026    -882303.0
4027   -1664895.0
4028   -2052583.0
4029   -2594589.0
Length: 4030, dtype: float64

시간의 차이를 각각 일수, 시간, 분, 초 단위로 계산합니다.

datetime으로 바꾸어졌으므로, 시간 단위의 연산이 가능합니다.

# 일시형의 증감
데이터를 분석할때 특정 날짜를 계산해야하는 경우가 생깁니다.

예를들어 2021.07.09로 부터 30일 전까지 날짜를 계산하는 경우입니다.

연, 월을 사용할경우 조건에 따라 코드 길이가 달라지므로, 일을 선택하는 것이 좋습니다.

In [69]:
reserve_tb['reserve_datetime'] = pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_datetime']

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [70]:
reserve_tb['reserve_date'] = reserve_tb['reserve_datetime'].dt.date
reserve_tb['reserve_date']

0       2016-03-06
1       2016-07-16
2       2016-09-24
3       2017-03-08
4       2017-09-05
           ...
4025    2017-06-27
4026    2017-09-29
4027    2018-03-14
4028    2016-04-16
4029    2016-06-06
Name: reserve_date, Length: 4030, dtype: object

In [71]:
reserve_tb['reserve_datetime'] + dt.timedelta(days = 1)

0      2016-03-07 13:09:42
1      2016-07-17 23:39:55
2      2016-09-25 10:03:17
3      2017-03-09 03:20:10
4      2017-09-06 19:50:37
               ...
4025   2017-06-28 23:00:02
4026   2017-09-30 05:24:57
4027   2018-03-15 05:01:45
4028   2016-04-17 15:20:17
4029   2016-06-07 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [72]:
reserve_tb['reserve_date'] + dt.timedelta(days = 1)

0       2016-03-07
1       2016-07-17
2       2016-09-25
3       2017-03-09
4       2017-09-06
           ...
4025    2017-06-28
4026    2017-09-30
4027    2018-03-15
4028    2016-04-17
4029    2016-06-07
Name: reserve_date, Length: 4030, dtype: object

In [73]:
reserve_tb['reserve_datetime'] + dt.timedelta(hours = 1)

0      2016-03-06 14:09:42
1      2016-07-17 00:39:55
2      2016-09-24 11:03:17
3      2017-03-08 04:20:10
4      2017-09-05 20:50:37
               ...
4025   2017-06-28 00:00:02
4026   2017-09-29 06:24:57
4027   2018-03-14 06:01:45
4028   2016-04-16 16:20:17
4029   2016-06-06 09:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [74]:
reserve_tb['reserve_date'] + dt.timedelta(hours = 1)

0       2016-03-06
1       2016-07-16
2       2016-09-24
3       2017-03-08
4       2017-09-05
           ...
4025    2017-06-27
4026    2017-09-29
4027    2018-03-14
4028    2016-04-16
4029    2016-06-06
Name: reserve_date, Length: 4030, dtype: object

In [75]:
reserve_tb['reserve_datetime'] + dt.timedelta(minutes = 1)

0      2016-03-06 13:10:42
1      2016-07-16 23:40:55
2      2016-09-24 10:04:17
3      2017-03-08 03:21:10
4      2017-09-05 19:51:37
               ...
4025   2017-06-27 23:01:02
4026   2017-09-29 05:25:57
4027   2018-03-14 05:02:45
4028   2016-04-16 15:21:17
4029   2016-06-06 08:17:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [76]:
reserve_tb['reserve_datetime'] + dt.timedelta(seconds = 1)

0      2016-03-06 13:09:43
1      2016-07-16 23:39:56
2      2016-09-24 10:03:18
3      2017-03-08 03:20:11
4      2017-09-05 19:50:38
               ...
4025   2017-06-27 23:00:03
4026   2017-09-29 05:24:58
4027   2018-03-14 05:01:46
4028   2016-04-16 15:20:18
4029   2016-06-06 08:16:52
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [77]:
reserve_tb['reserve_datetime'] + dt.timedelta(weeks = 1)

0      2016-03-13 13:09:42
1      2016-07-23 23:39:55
2      2016-10-01 10:03:17
3      2017-03-15 03:20:10
4      2017-09-12 19:50:37
               ...
4025   2017-07-04 23:00:02
4026   2017-10-06 05:24:57
4027   2018-03-21 05:01:45
4028   2016-04-23 15:20:17
4029   2016-06-13 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

핵심은 datetime형으로 변환한 뒤, datetime.timedelta 함수로 정해저있는 시간간격을 더하고 뺄 수 있다는 것입니다.

# 계절로 변환
아이스크림의 매출은 여름에 제일 높을 것입니다.

이와같이 계절별로 분석을 하는 경우가 도움이 많이 될 수도 있습니다.

그러나 계절로 변환한다는 것이 범주화 한다는 것인데,

이사는 보통 4월, 10월 이전에 많이 하는데, 이는 봄과 가을에 많이 한다는 것은 아닙니다.

따라서 범주화 할때 주의 하여야 합니다.

In [78]:
reserve_tb['reserve_datetime'] = pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_datetime']

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [79]:
def to_season(month_num):
    season = 'winter'
    if 3 <= month_num <= 5:
        season = 'spring'
    elif 6 <= month_num <= 8:
        season = 'summer'
    elif 9 <= month_num <= 11:
        season = 'autumn'
    
    return season

In [80]:
reserve_tb['reserve_season'] = pd.Categorical(
reserve_tb['reserve_datetime'].dt.month.apply(to_season),
categories=['spring', 'summer', 'autumn', 'winter'])
reserve_tb['reserve_season']

0       spring
1       summer
2       autumn
3       spring
4       autumn
         ...
4025    summer
4026    autumn
4027    spring
4028    spring
4029    summer
Name: reserve_season, Length: 4030, dtype: category
Categories (4, object): ['spring', 'summer', 'autumn', 'winter']

여기서 핵심은 범주화 할 수 있는 것을 찾고, Categorical 함수를 통해 범주화를 했다는 것입니다.

계절로 범주화 하는 함수는 없고, 우리가 함수를 정의한뒤, apply를 통해 계절로 바꾸어주었습니다.

다른 접근을 하자면, 커피의 경우도 오전, 오후, 저녁 이렇게 나누어 매출을 비교하는 등 시간대로 변환을

할 수 있습니다.

In [82]:
holiday_mst = pd.read_csv('holiday_mst.csv')
holiday_mst

      target_day  holidayday_flg  nextday_is_holiday_flg
0     2016-01-01            True                    True
1     2016-01-02            True                    True
2     2016-01-03            True                   False
3     2016-01-04           False                   False
4     2016-01-05           False                   False
...          ...             ...                     ...
1181  2019-03-27           False                   False
1182  2019-03-28           False                   False
1183  2019-03-29           False                    True
1184  2019-03-30            True                    True
1185  2019-03-31            True                   False

[1186 rows x 3 columns]

In [83]:
pd.merge(reserve_tb, holiday_mst, left_on='checkin_date', right_on='target_day')

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,checkin_datetime,reserve_date,reserve_season,target_day,holidayday_flg,nextday_is_holiday_flg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,2016-03-26 10:00:00,2016-03-06,spring,2016-03-26,True,True
1,r1269,h_138,c_309,2016-03-14 13:57:45,2016-03-26,11:30:00,2016-03-29,4,115200,2016-03-26 11:30:00,2016-03-14,spring,2016-03-26,True,True
2,r2192,h_267,c_547,2016-03-21 09:23:13,2016-03-26,11:00:00,2016-03-27,2,19600,2016-03-26 11:00:00,2016-03-21,spring,2016-03-26,True,True
3,r2288,h_144,c_574,2016-03-05 23:44:17,2016-03-26,12:30:00,2016-03-28,3,60000,2016-03-26 12:30:00,2016-03-05,spring,2016-03-26,True,True
4,r2987,h_230,c_754,2016-03-21 07:00:01,2016-03-26,10:00:00,2016-03-27,2,34800,2016-03-26 10:00:00,2016-03-21,spring,2016-03-26,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,r3904,h_240,c_970,2018-04-10 10:01:59,2018-04-10,12:00:00,2018-04-13,4,320400,2018-04-10 12:00:00,2018-04-10,spring,2018-04-10,False,False
4026,r3905,h_230,c_970,2018-07-02 01:37:45,2018-07-24,12:30:00,2018-07-25,3,52200,2018-07-24 12:30:00,2018-07-02,summer,2018-07-24,False,False
4027,r3936,h_46,c_979,2018-09-10 05:48:22,2018-10-02,12:00:00,2018-10-05,3,166500,2018-10-02 12:00:00,2018-09-10,autumn,2018-10-02,False,False
4028,r3959,h_93,c_983,2018-02-16 11:01:40,2018-03-15,11:00:00,2018-03-17,3,58800,2018-03-15 11:00:00,2018-02-16,winter,2018-03-15,False,False
4029,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,2018-05-21 12:00:00,2018-04-22,spring,2018-05-21,False,False

호텔 예약의 경우 평일만 하냐, 주말도 있냐에 따라 예약의 길이가 달라집니다.

그래서 holiday_mst 자료를 병합하여 휴일인지 휴일아닌지 표시를 하였습니다.